{% extends "base.html" %}

{% block titulo %}Telefonema{% endblock %}

{% block paginatitulo %}Telefonema{% endblock %}

{% from '_macros.html' import paginator_footer %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/jquery-ui.css') }}">
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery-ui.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.ui.datepicker-pt-BR.js')}}"></script>
<script type="text/javascript">
$(function(){	
    $.datepicker.setDefaults($.datepicker.regional['pt-BR']);
    $('input[name$="dtenvio"]').datepicker( $.datepicker.regional[ 'pt-BR' ] );
	$('input[name$="dtlimite"]').datepicker( $.datepicker.regional[ 'pt-BR' ] );
});
</script>
<style type="text/css">
#numero{
	width: 150px;
}
#destinatario{
	width: 200px;
}
#obs{
    width: 80%;
}
#dtenvio, #dtlimite{
	width: 150px;
}
#orgao{
	width: 400px;
}
.ui.left.floated.header{
	margin-top: 0.5em;
	margin-left: 0.5em;
}
</style>
{% endblock %}
{% block header %}{% endblock %}

{% block conteudo %}
    <div id="main" class="main container">
		
		<div class="ui form segment">		
			<form action="" method="post" id="cform" name="cform" name="form" enctype="multipart/form-data">
			<input type="hidden" name="pagina" value="1">
			<h2 class="ui left floated header">Telefonema</h2>		
			
			<div class="ui clearing divider"></div>								

				{% if editar %}
					{% include "encaminhamento_comum.html" %}			
				{% endif %}
				
				<div class="field {% if f.numero.errors %} error {% endif %}">
					<label>{{f.numero.label}}</label>
					{{f.numero}}
					{% if f.numero.errors %}<div class="ui red pointing left ui label">{{';'.join(f.numero.errors)}}</div>{% endif %}
				</div>		
		
				<div class="field {% if f.destinatario.errors %} error {% endif %}">
				<label>{{f.destinatario.label}}</label>
				{{f.destinatario}}
				{% if f.destinatario.errors %}<div class="ui red pointing left ui label">{{';'.join(f.destinatario.errors)}}</div>{% endif %}
				</div>	

				<div class="field {% if f.obs.errors %} error {% endif %}">
				<label>{{f.obs.label}}</label>
				{{f.obs}}
				{% if f.obs.errors %}<div class="ui red pointing left ui label">{{';'.join(f.obs.errors)}}</div>{% endif %}
				</div>
				
				</br>
				<input type="submit" class="ui small blue submit button" name="acao" id="acao" value="Salvar" />						
				
			</form>
		</div>	
	</div>	
{% endblock %}