{% extends "base.html" %}

{% block titulo %}Editando violação: Homicídio (denúncia nº {{d.numero}}){% endblock %}

{% block paginatitulo %}Editando violação: Homicídio (denúncia nº {{d.numero}}){% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/jquery-ui.css') }}">
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery-ui.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.ui.datepicker-pt-BR.js')}}"></script>
<style type="text/css">
.ui.left.floated.header{
	margin-top: 0.5em;
	margin-left: 0.5em;
}

#obs{
    width: 80%;
}

#rco,#bo,#ip,#reds{
	width: 250px;
}

</style>
{% endblock %}
{% block header %}{% endblock %}

{% block conteudo %}
    <div id="main" class="main container">
		<div class="ui form segment">		
			<form action="" method="post" id="cform" name="cform" name="form" enctype="multipart/form-data">
			<h2 class="ui left floated header">Homicídio: complemente as informações da denúncia nº {{d.numero}}</h2>
			<div class="ui clearing divider"></div>	
			
			<div class="two fields">
				<div class="field {% if f.rco.errors %} error {% endif %}">
				<label>{{f.rco.label}}</label>
				{{f.rco}}
				{% if f.rco.errors %}<div class="ui red pointing above ui label">{{';'.join(f.rco.errors)}}</div>{% endif %}
				</div>					
				<div class="field {% if f.bo.errors %} error {% endif %}">
				<label>{{f.bo.label}}</label>
				{{f.bo}}
				{% if f.bo.errors %}<div class="ui red pointing left ui label">{{';'.join(f.bo.errors)}}</div>{% endif %}
				</div>								
			</div>
			
			<div class="two fields">	
				<div class="field {% if f.ip.errors %} error {% endif %}">
				<label>{{f.ip.label}}</label>
				{{f.ip}}
				{% if f.ip.errors %}<div class="ui red pointing above ui label">{{';'.join(f.ip.errors)}}</div>{% endif %}
				</div>	
				<div class="field {% if f.situacao.errors %} error {% endif %}">
				<label>{{f.situacao.label}}</label>
				{{f.situacao}}
				{% if f.situacao.errors %}<div class="ui red pointing left ui label">{{';'.join(f.situacao.errors)}}</div>{% endif %}
				</div>								
			</div>
		
			<div class="field {% if f.reds.errors %} error {% endif %}">
			<label>{{f.reds.label}}</label>
			{{f.reds}}
			{% if f.reds.errors %}<div class="ui red pointing left ui label">{{';'.join(f.reds.errors)}}</div>{% endif %}
			</div>
			
			<div class="two fields">
			
				<div class="field {% if f.meioutilizado.errors %} error {% endif %}">
				<label>{{f.meioutilizado.label}}</label>
				{{f.meioutilizado}}
				{% if f.meioutilizado.errors %}<div class="ui red pointing left ui label">{{';'.join(f.meioutilizado.errors)}}</div>{% endif %}
				</div>				
			
				<div class="field {% if f.prfato.errors %} error {% endif %}">
				<label>{{f.prfato.label}}</label>
				{{f.prfato}}
				{% if f.prfato.errors %}<div class="ui red pointing left ui label">{{';'.join(f.prfato.errors)}}</div>{% endif %}
				</div>
			</div>
			
			<div class="field {% if f.obs.errors %} error {% endif %}">
			<label>{{f.obs.label}}</label>
			{{f.obs}}
			{% if f.obs.errors %}<div class="ui red pointing left ui label">{{';'.join(f.obs.errors)}}</div>{% endif %}
			</div>			
			
			{% if homicidio.url %}	
			<div class="two fields">		
				<div class="ui buttons">
				  <div class="ui labeled icon button">
					<i class="download icon"></i>
					<a href="{{homicidio.url}}" target="_blank">Download</a>
				  </div>
				  <button class="ui labeled icon button" type="submit" name="acao" id="acao" value="Remover anexo">
					<i class="trash icon"></i>
					Excluir
				  </button>
				</div>
				<div class="field {% if f.arquivo.errors %} error {% endif %}">
					<label>Faça upload de um novo arquivo</label>
					{{f.arquivo}}
					{% if f.arquivo.errors %}<div class="ui red pointing left ui label">{{';'.join(f.arquivo.errors)}}</div>{% endif %}
				</div>		
			</div>						
			{% else %}		
				<div class="field {% if f.arquivo.errors %} error {% endif %}">
				<label>{{f.arquivo.label}}</label>
				{{f.arquivo}}
				{% if f.arquivo.errors %}<div class="ui red pointing left ui label">{{';'.join(f.arquivo.errors)}}</div>{% endif %}
				</div>
			{% endif %}			
			<br/>
				<a href="{{url_for('relacionar_vitima_suspeito',denuncia_id=d.id)}}" class="ui small blue submit button">Voltar</a>
				<input type="submit" class="ui small blue submit button" name="acao" id="acao" value="Salvar" />			
			</form>
		</div>	
	</div>	
{% endblock %}