{% extends "basetodo.html" %}

{% block titulo %}Teste{% endblock %}

{% block paginatitulo %}Teste{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/jquery-ui.css') }}">
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery-ui.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.ui.datepicker-pt-BR.js')}}"></script>
<script type="text/javascript">
</script>
<style type="text/css">
</style>
{% endblock %}

{% block conteudo %}
<form action="" method="post" id="cform" name="cform">	
	<br/>
	<table>
	{% for f in form %}
		<tr><td>{{f.label}}</td><td>{{f}}</td></tr>
				{{f.}}
				{% for subfield in f.im_accounts%}
					<td>{{subfield}}</td>
				{% endfor %}
	{% endfor %}
	</table>
</form>
{% endblock %}